#bo {
    padding-left: 130px;
    padding-top: 7px;
}
#c{
    padding-left: 130px;
    padding-top: 7px;
}
#ip {
    padding-left: 130px;
    padding-top: 7px;
}

#IPO {
    padding-left: 130px;
    padding-top: 30px;
}
#dzz {
    padding-left: 130px;
    padding-top: 20px;
}
#nos {
    padding-left: 130px;
    padding-top: 7px;
}
#nez {
    padding-left: 130px;
    padding-top: 20px;
}